.popup{
    width:600px;
    height: 40px;
    display: flex;
    background-color: rgba(47, 47, 47, 0.5);
    border-radius: 10px;
    position: relative;
    top:20px;
    bottom: 10px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: green;
    padding-left: 10px;
    padding-right: 10px;
    
}
.popup button{
    width:30px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 50%;
}
.LoginContainer{
    width:300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #5bc8ffee;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 25px;
    box-shadow: 1px 1px 10px rgb(255, 0, 0);
    animation: animateOutline 3s ease infinite;
    outline-color: rgba(255, 0, 0,0.75);
    outline-width: 1px;
    outline-offset: 0;
    outline-style: solid;
}

@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(255, 0, 0,0);
  }

  10% {
    outline-color: rgba(255, 0, 0,0.75);
  }
  50% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(255, 0, 0,0);
  }

  100% {
    outline-width: 7px;
    outline-offset: 4px;
    outline-color: rgba(255, 102, 102, 0);
  }
}

.UserName{
    width:100%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    height:60px;
}
.UserName input{
    border: none;
    width:100%;
    height:30px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}
.UserName input:focus-within{
    border: mone;
}
.UserName label{
    width:100px;
    height: 30px;
}
.Password{
    height:60px;
    width:100%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
}
.Password label{
    width:100px;
    height: 30px;
}
.Password input{
    border: none;
    width:100%;
    height:30px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}
.submit{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.submit .button{
    width:100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(0, 0, 0);
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
@keyframes btn{
    0%{
        border-radius: 12px;
        font-size: 16px;
    }
    50%{
        border-radius: 16px;
        font-size: 16px;
    }
    100%{
        border-radius: 20px;
        font-size: 16px;
    }
}
.button:hover{
    background-color: red;
    border: none;
    animation: btn 2s ease forwards;
}
.para{
    font-size: 14px;
    color: firebrick;
}
.Link{
    text-decoration: none;
    color: red;
}
.error{
    font-size: 15px;
    text-decoration: none;
    display: inline;
    color: rgba(228, 2, 2, 0.788);
    letter-spacing: normal;
    height: 50px;
}