.BloodGroupcontent{
    margin: 10px;
    background-color: wheat;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: black;
}
p{
    width:90%;
    margin-left: 20px;
}
.bloodTypes{
    margin-left: 20px;
}
.Subtypes li{
    width:700px;
}