.navConatiner{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(209, 28, 28);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu{
    display: none;
}
.rightSide{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.rightSide li{
    list-style-type: none;
    color:white;
}
.rightSide li a:not(#logout){
    color:white;
    text-decoration: none;
}
.logout{
    width:100px;
    height: 30px;
    background-color: white;
    color:black;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
}
.logout:hover{
    background-color: rgb(254, 59, 59);
    cursor: pointer;
    
}
.MenuList{
    width: 200px;
    height:400px;
    background-color: black;
    color: aliceblue;
    transition-delay: 2s;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 2;
}
.userlogout{
    width:100px;
    height:30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: gray;
    cursor: pointer;

}
@media all and (max-width:550px) {
.rightSide{
    display: none;
}
.navConatiner{
    width:100%;
}
.menu{
    display: block;
}
}